{% extends 'base.html.twig' %}

{% block title %}Iniciar sesión!
{% endblock %}

{% block body %}


	<style>
		/* Estilo para el contenedor del formulario */
		form {
			max-width: 400px;
			margin: 100px auto 0; /* Ajuste de margen para centrarlo verticalmente y agregar espacio en la parte superior */
			padding: 20px;
			background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3)); /* Degradado de blanco semi-transparente a más transparente */
			border-radius: 10px;
			border: 1px solid rgba(255, 255, 255, 0.5); /* Borde semi-transparente */
		}

		body {
			background-image: url('/images/fondo_control_acceso.jpg');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat; /* Evita que la imagen se repita */
			height: 109vh; /* Asegura que el fondo cubra toda la ventana */
			margin: 0; /* Elimina el margen predeterminado */
		}

		.h3 {
			text-align: center; /* Centrar el texto horizontalmente */
			margin-bottom: 20px; /* Espacio en la parte inferior del encabezado */
		}

		/* Estilo para los campos de entrada y etiquetas */
		label {
			display: block; /* Hacer que las etiquetas ocupen toda la línea */
			margin-bottom: 8px; /* Ajuste del margen inferior */
			font-weight: bold;
		}

		input[type="text"],
		input[type="password"] {
			display: block; /* Hacer que los inputs sean elementos de bloque */
			margin: 0 auto 15px; /* Centrar los inputs horizontalmente y agregar margen inferior */
			width: 95%; /* Ajustar el ancho al 80% del contenedor */
			padding: 7px;
			border: 1px solid #ccc;
			border-radius: 5px;
			box-sizing: border-box; /* Para incluir el padding y el borde en el ancho total */
		}

		input[type="checkbox"] {
			margin-right: 10px; /* Ajuste del margen derecho */
		}

		/* Estilo para el botón de enviar */
		button[type="submit"] {
			width: 100%;
			padding: 10px;
			border: none;
			border-radius: 5px;
			background-color: #007bff;
			color: #fff;
			cursor: pointer;
			transition: background-color 0.3s;
		}

		button[type="submit"]:hover {
			background-color: #0056b3;
		}

		/* Estilo para el enlace de cierre de sesión */
		a[href="#"] {
			color: #007bff;
			text-decoration: none;
		}

		a[href="#"]:hover {
			text-decoration: underline;
		}
	</style>

	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}

		<h1 class="h3 mb-3 font-weight-normal">Control de Ingresos
		</h1>
		<label for="inputUsername">Usuario</label>
		<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
		<label for="inputPassword">Contraseña</label>
		<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		<div class="checkbox mb-3">
			<label>
				<input type="checkbox" name="recuerdame">
				Recuerdame
			</label>
		</div>

		<button class="btn btn-lg btn-primary" type="submit">
			Iniciar sesión
		</button>
	</form>
{% endblock %}
