{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}

	<style>
        /* Estilo para el contenedor del formulario */
form {
    max-width: 400px;
    margin:  auto; /* Centrar el formulario horizontalmente */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 10%
}

/* Estilo para los campos de entrada */
input[type="text"],
input[type="password"]{
    width: 100%;
    padding: 7px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Para incluir el padding y el borde en el ancho total */
}

input[type="checkbox"] {
    margin-bottom: 15px;
    display: flex;
}

h1{
    text-align: center;
}
/* Estilo para el botón de enviar */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilo para los mensajes de error */
.form-error {
    color: red;
    margin-top: 5px;
}

/* Estilo para los mensajes de éxito */
.form-success {
    color: green;
    margin-top: 5px;
}

	</style>
{{ form_start(registrationForm) }}
<div class="form-container">
    <h1>Register</h1>
    {{ form_errors(registrationForm) }}
    {{ form_row(registrationForm.username, {
        label: 'Usuario'
    }) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Contraseña'
    }) }}
    {{ form_row(registrationForm.agreeTerms, {
        label: 'Acepto los términos y condiciones'
    }) }}
    <button type="submit" class="btn">Register</button>
</div>
{{ form_end(registrationForm) }}

{% endblock %}
