<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block no_body %}
			{% block body %}

				{{ include('navbar.html.twig') }}
				{{ include('sidebar.html.twig') }}


				<main id="main" class="main">
					<div class="row">
						<div class="col-3 mb-3 offset-md-9"></div>
					</div>

					{% block content %}{% endblock %}
				</main>

				{% block footer %}
					<footer id="footer" class="footer">
						{% if develop.status is defined %}
							{% if develop.status %}
								<dvi class="copyright text-danger">{{ develop.mensaje }}</dvi>
							{% endif %}
						{% endif %}
						<div class="copyright">
							&copy; Unidad Clinica San Nicolas LTDA. Todos los derechos reservados.
						</div>
						<div class="credits">Software desarrollado por
							<a href="{{ path('app_home') }}">www.tthhunidadclinicasannicolas.com</a>
						</div>
					</footer>
					<!-- End Footer -->

				{% endblock %}
				<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
					<i class="bi bi-arrow-up-short"></i>
				</a>
				{% block javascripts %}
					{{ encore_entry_script_tags('app') }}
					 <script src="{{ asset('build/jquery/jquery.min.js') }}"></script>
				{% endblock %}
			{% endblock %}
		{% endblock %}
	</body>

</html>
