<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('images/Recurso.ico') }}">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block no_body %}
			{% block body %}
				{{ include('navbar.html.twig') }}
				{{ include('sidebar.html.twig') }}

				<main id="main" class="main">
					<div class="row">
						<div class="col-3 mb-3 offset-md-9"></div>
					</div>

					{% block content %}{% endblock %}
				</main>
				<!-- End #main -->
			</body>
		</html>
	</main>
	{% block footer %}
		<footer id="footer" class="footer">
			{% if develop.status is defined %}
				{% if develop.status %}
					<dvi class="copyright text-danger">{{ develop.mensaje }}</dvi>
				{% endif %}
			{% endif %}
			<div class="copyright">
				&copy; Unidad Clinica San Nicolas LTDA. Todos los derechos reservados.
			</div>
			<div class="credits">Software desarrollado por
				<a href="https://www.tthhunidadclinicasannicolas.com/">www.tthhunidadclinicasannicolas.com</a>
			</div>
		</footer>
	{% endblock %}
	<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
		<i class="bi bi-arrow-up-short"></i>
	</a>
	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
		 <script src="{{ asset('build/jquery/jquery.min.js') }}"></script>
	{% endblock %}
{% endblock %}{% endblock %}</body></html>
